<div class="container">
  <h1>Add a burger! Then devour it if you get hungry</h1>
  <br>
  <br>
  {{!-- <h2>Add Burger</h2> --}}
  <form class="create-form">


    <div class="form-group">
      <label for="ca">Burger Name:</label>
      <input type="text" id="burgername" name="burgername">
          <button type="button" class="btn" id="create-form" data-id={{this.id}} data-newDevoured={{devour}}>Submit Burger</button>
    </div>


    {{!-- <div class="form-group"> --}}
    {{!-- <label for="devoured">Devoured</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured<br>
    <input type="radio" name="devoured" value="0"> Devoured --}}
</div>
</form>
<h1>Burgers that have been eaten:</h1>
<ul>
  {{#each burgers}}
  {{#if devoured}}
    <p>{{burger_name}} <span>#{{id}}</span></p>
  {{!-- {{burger_name}} <span>#{{id}}</span> --}}
  {{/if}}
  {{/each}}
</ul>

<h1>Burgers you can eat:</h1>
<ul>
  <h2>Click to devour jawn</h2>
  {{#each burgers}}
  {{#unless devoured}}
  <div>
    <form class="devour-form" method="PUT">
      <button type="button" class="btn devour-burger" data-id={{this.id}} data-newDevoured={{devour}}>Devour Burger
        Jawn</button>
    </form>
    {{burger_name}} <span>#{{id}}</span>
    {{/unless}}
    {{/each}}
  </div>
</ul>

</div>